<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>Cliente</h2>
  <form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Nombre', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Apellido', 'lastName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Direccion', 'address', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Ciudad', 'city', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telefono', 'telephone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${owner['new']} ? 'Añadir cliente' : 'Update Owner'"
          class="btn btn-default" type="submit" th:text="${text}">Añadir cliente</button>
      </div>
    </div>
  </form>
</body>
</html>
